# Coding Challange - 01

### Question 1:

Print the following tuple in reverse order.

tuple_1 = (22, 65, 12, 54)

#### Expected Output:

(54, 12, 65, 22)

In [7]:
tuple_1 = (22, 65, 12, 54)
tup = tuple_1[::-1]
print(tup)

(54, 12, 65, 22)

### Question 2:

Access the name 'David' from the list given below.

myList = [(2, 14, 'David'), [2, 7], 'Shaun']

##### Expected Output:

'David'

In [10]:
myList = [(2, 14, 'David'), [2, 7], 'Shaun']
myList[0][2]

'David'

### Question 3:

We have a set and a dictionary given below. Print the set once again after adding the keys of the dictionary to the set. The order of the expected output may vary as it is a set.

mySet = {2, 4, 6}

myDict = {'A':'John', 'B':'Emma', 'C':'Sam'}

##### Expected Output:

{2, 4, 6, 'A', 'C', 'B'}

In [13]:
mySet = {2, 4, 6}

myDict = {'A':'John', 'B':'Emma', 'C':'Sam'}
# permanent operation
mySet.update(myDict.keys())
print(mySet)

{2, 4, 6, 'B', 'C', 'A'}

### Question 4:
We have two sets given below. Print all the items from these sets after removing the duplicates.

set_1 = {2, 4, 6, 8}
<br>set_2 = {6, 8, 10, 12}

#### Expected Output:

{2, 4, 6, 8, 10, 12}

In [22]:
set_1 = {2, 4, 6, 8}
set_2 = {6, 8, 10, 12}
out = set_1.union(set_2)
print(out)

{2, 4, 6, 8, 10, 12}

### Question 5:
Write a Python program to print the first and the last second of the day.

#### Expected Output:

First Second:  00:00:00
<br>Last Second:  23:59:59.999999

In [24]:
from datetime import time
print(time.min)
print(time.max)

00:00:00
23:59:59.999999

### Question 6:

Print the total number of digits in the number given below.

num = 8842

#### Expected Output:

Total digits are:  4

In [28]:
num = 8842
count = 0
while num>0:
    count+=1
    num = num//10

print(count)

4

### Question 7:

We have a list of lists that contains several numbers. I want you to print the list whose sum of elements is the highest and also the lowest.

num_list = [[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]

#### Expected Output:

The list with the maximum sum of elements:  [19, 13, 7]
<br>The list with the minimum sum of elements:  [2, 8, 11]

In [89]:
num_list = [[2, 8, 11], [4, 5, 7, 12], [8, 9, 10, 11], [19, 13, 7], [2, 5, 16]]
lst = []

for (x,y) in enumerate(num_list):
    lst.append(sum(y))

# print(lst)
# print(num_list[lst.index(max(lst))])
# print(num_list[lst.index(min(lst))])

print(max(num_list, key=sum))
print(min(num_list, key= sum))

[19, 13, 7]
[2, 8, 11]

### Question 8:

We have a string that contains the names of different fruits. I want you to convert this string into multiple substrings where each substring includes one fruit's name.

fruits_string = " Apple, Banana, Mango, Kiwi, Guava, Grapes, Pomegranate, Orange, Watermelon"

#### Expected Output:

 Apple
 <br>Banana
 <br>Mango
 <br>Kiwi
 <br>Guava
 <br>Grapes
 <br>Pomegranate
 <br>Orange
 <br>Watermelon

In [54]:
fruits_string = " Apple, Banana, Mango, Kiwi, Guava, Grapes, Pomegranate, Orange, Watermelon"
allfruits = fruits_string.split(",")

for i in allfruits:
    print(i)

 Apple
 Banana
 Mango
 Kiwi
 Guava
 Grapes
 Pomegranate
 Orange
 Watermelon

### Question 9:

Write a program to reverse words in a string.

sample_text = "Python is a high-level and general-purpose programming language"

#### Expected Output:

language programming general-purpose and high-level a is Python

In [90]:
sample_text = "Python is a high-level and general-purpose programming language"
# strarr = sample_text.split(" ")
# l = len(strarr)
# i=0
# str = ''

# strarr.reverse()
# print(strarr)

# while i<l:
#     str = str +strarr[l-i-1] + " "
#     i+=1

# print(str)


print(" ".join(sample_text.split(" ")[::-1]))

language programming general-purpose and high-level a is Python

### Question 10:

Given below is the height (in cm) of the top 10 students in a class. Print the heights of the top 3 students from the given list.

heights = [177, 160, 171, 163, 168,  175, 176, 183, 162, 170]

#### Expected Output:

Top Three Heights:  [183, 177, 176]

In [81]:
heights = [177, 160, 171, 163, 168, 175, 176, 183, 162, 170]
heights.sort(reverse=True)
print(heights[0:3])

[183, 177, 176]