# Practice Exercise - 01

### Question 1:

There are two numbers given below. Print the sum of these numbers if their product is greater than 100. Otherwise, print their product.

a = 15
<br>b = 12

#### Expected Output:

27

In [1]:
a = 15
b = 12
if a*b > 100:
    print(a+b)
else:
    print(a*b)

27

### Question 2:

Write a Python program to print the volume of a cone whose height and diameter are given below. (Take pi = 3.14)

h = 10
<br>d = 13

#### Expected Output:

442.21666666666664

In [1]:
from math import pow
h = 10
d = 13
volume = ((3.14) * (d/2) * (d/2) * h) /3
volume2 = 3.14 * pow((d/2),2) * h / 3
volume3 = 3.14 * (d/2)**2 * h / 3
print(volume3)

442.21666666666664

### Question 3:

We have the name and seat numbers of a student given below as two tuples. With this given data, print the students' names and their assigned seat numbers in a single line using the appropriate data type.

name = ('Shaun', 'Ron', 'Michael')
<br>seat_numbers = (101, 102, 103)

#### Expected Output:

{'Shaun': 101, 'Ron': 102, 'Michael': 103}

In [16]:
dict = {}
name = ('Shaun', 'Ron', 'Michael')
seat_numbers = (101, 102, 103)

j=0
for i in name:
    dict[i] = seat_numbers[j]
    j = j+1

print(dict)

for x,y in enumerate(name):
    # print(x)
    # print(y)
    dict[y] = seat_numbers[x]

print(dict)

{'Shaun': 101, 'Ron': 102, 'Michael': 103}
{'Shaun': 101, 'Ron': 102, 'Michael': 103}

### Question 4:

We have a number given below. If the number is greater than 0, add 1 to it. Otherwise, subtract 1 from it, and print the new number obtained.

num = -6

#### Expected Output:

-7

In [19]:
num = -6
if num > 0:
    print(num+1)
else:
    print(num-1)

# a if condition else b
print(num + 1) if num>0 else print(num-1)

-7
-7

### Question 5:

I have four variables, each assigned with certain values given below. A massive expression line follows it. Re-write the expression which suits the desired lexical model.

a = 5
<br>b = 2
<br>c = 8
<br>d = 7

x = (((a + b) * (a + c) * (a + d)) / ((b + a) * (b + c) * (b + d)) / ((c + a) * (c + b) * (c + d))) * (a * b * c * d)

#### Expected Output:

0.4977777777777778

In [2]:
a = 5
b = 2
c = 8
d = 7

lex = ((((a + b) * (a + c) * (a + d)) \
 / ((b + a) * (b + c) * (b + d)) \
 / ((c + a) * (c + b) * (c + d))) \
* (a * b * c * d))

print(lex)

0.4977777777777778

### Question 6:

There are two numbers given below. Compare them and print the result obtained.

a = 5
<br>b = 9

#### Expected Output:

b is greater than a

In [21]:
a = 5
b = 9
print("a is greater than b") if a > b else print("b is greater than a")

b is greater than a

### Question 7:

We have a set given below. Find out whether 10 and 7 are present in the given set or not.

mySet = {5, 7, 2, 6, 3}

#### Expected Output:

False
<br>True

In [4]:
myset = {5,7,2,6,3}
subset = {10,7}
# print(subset.issubset(myset))
# print(not subset.issubset(myset))

validate10 = 10 in myset
validate7 = 7 in myset

print(validate10)
print(validate7)

# print(subset <= myset)

False
True

### Question 8:

We have a number given below. Write a program to check for the divisibility of this number by 3 and 5, and print the result obtained.

a = 12

#### Expected Output:

a is divisible by either 3 or 5, but not both

### Question 9:

Write a Python program to check if the given year is a leap year.

year = 1996

#### Expected Output:

Leap Year

### Question 10:

I have an examination form that requires the following information.

Name, Age, Roll Number, and Subjects. 

Declare the parameters mentioned above with a suitable data type, and then assign some values to it, and finally print the result.

#### Expected Output:

Name:  Sachin
<br>Age:  17
<br>Roll Number:  528841
<br>Subjects:  ['Maths', 'Physics', 'Chemistry', 'Computer Science', 'English']

In [11]:
name = input("Name")
age = int(input("Age"))
rollnumber = int(input("RollNumber"))
subjects = []
subjects = (input("subjects"))

print(name);
print(age);
print(rollnumber);
print(subjects)

Name ddd
Age 12
RollNumber 98988
subjects ['ab','bc']

ddd
12
98988
['ab','bc']

In [36]:
lst = ['test','hello', 'ggg']
lst2 = ['ttt', 'dd'] + lst
print(lst2)

['ttt', 'dd', 'test', 'hello', 'ggg']